DB_URL=jdbc:postgresql://157.230.210.59:5432/cursos_online
DB_USER=admin
DB_PASSWORD=123secret456!
SECURITY_USER=admin
SECURITY_PASSWORD=admin


JWT_SECRET=dGVzdHNlY3JldGtleXRlc3RzZWNyZXRrZXkxMjM0NTY=
